In [ ]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)
# print(len(country))

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
6

In [ ]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)
# print(len(new_list_1))
new_list_2 = [string_1]  # this is a single element list
print(new_list_2)
# print(len(new_list_2))

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
14
['I quit smoking']
1

In [ ]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]
print(mixed_list)

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]

In [ ]:
warning = 'You must quit smoking!'
print(list(warning))
print(len(list(warning)))

['Y', 'o', 'u', ' ', 'm', 'u', 's', 't', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g', '!']
22

In [ ]:
empty_list_1= []

empty_list_2 = list()

In [ ]:
empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('plastic-free sea') # Sonuna ekledi

print(empty_list_1)

['114', 'plastic-free sea']

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')

print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')

print(city)

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [ ]:
city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
print(len(city))

6

In [ ]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[1] = 'Melbourne'  # we assign 'Melbourne' to index 1
print(city)

['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors)
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

['red', 'purple', 'blue', 'yellow', 'green']
blue

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

# print(len(city))

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)
print(len(city_list))

5
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
1

In [ ]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0]) # access to first and only element

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [ ]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [ ]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3])

a

In [ ]:
odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]

print(odd_numbers[6])

27

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [ ]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included)

[5, 7, 9]

In [ ]:
count = list(range(11))
print(count)

print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [ ]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [ ]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[3:])

['wolf', 'rabbit', 'deer', 'giraffe']

In [ ]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:5])

['elephant', 'bear', 'fox', 'wolf', 'rabbit']

In [ ]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[::2])

['elephant', 'fox', 'rabbit', 'giraffe']

In [ ]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [ ]:
print(len([[12, 34, 56]]))
# print(len([12, 34, 56]))

1

In [ ]:
print(len([[12, 34, 56]][0]))
[[12, 34, 56]][0]
# numberslist = [[12, 34, 56]]
# print(len(numberslist[0]))

3

[12, 34, 56]

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [ ]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [ ]:
# append() takes exactly one argument

In [ ]:
# Tuple, listeye √ßok benzeyen birden √ßok veriyi tutabilen ba≈üka bir koleksiyon
# t√ºr√ºd√ºr. Not: En √ßok kullanƒ±lan collection t√ºr√º liste.
# Listeden en √∂nemli farkƒ±, tuple'ƒ±n deƒüi≈ümez olmasƒ±dƒ±r. Bu nedenle, bu t√ºr
# i≈ülemlerde append() veya remove() gibi metotlar yoktur.
# Tuple'lar, IP adresi ve baƒülantƒ± noktasƒ± gibi deƒüi≈ümesi gerekmeyen k√º√ß√ºk
# deƒüer koleksiyonlarƒ± i√ßin yaygƒ±n olarak kullanƒ±lƒ±r. Deƒüi≈ümez/deƒüi≈ümeyecek
# verimiz varsa, listelerden √ßok daha hƒ±zlƒ± olduƒüu i√ßin tuple'larƒ± se√ßmeliyiz.
# Listeleri tanƒ±mlamak i√ßin üëâüèª'[]' k√∂≈üeli parantezleri kullandƒ±k. Tuple'da
# normal parantezler üëâüèª'()' kullanƒ±lƒ±r. Listeler i√ßin ge√ßerli olan indeksleme
#  kurallarƒ±nƒ±n aynƒ±larƒ±, Tuple'lar i√ßin de ge√ßerlidir.
list_1 = [True, ‚ÄòSpace‚Äô, 20]
tup_1 = (True, ‚ÄòSpace‚Äô , 20)

In [ ]:
# Bir Tuple, virg√ºlle ayrƒ±lmƒ±≈ü deƒüerleri parantez i√ßine alarak da
# olu≈üturulabilir. Tuple'ƒ± bir vakayla kar≈üƒ±la≈ütƒ±rabilirsiniz. Deƒüi≈ütirmemesini
# istediƒüiniz verileri koyup kapaƒüƒ± kapattƒ±ƒüƒ±nƒ±zda artƒ±k bu verileri
# deƒüi≈ütiremez, boyutunu deƒüi≈ütiremez ve d√ºzenleyemezsiniz.

In [ ]:
empty_tuple = ()

In [ ]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [ ]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [ ]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [ ]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))
print(len(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>
3

In [ ]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [ ]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [ ]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
mountain = tuple('Alps')
print(mountain) 
print(type(mountain))

('A', 'l', 'p', 's')
<class 'tuple'>

In [ ]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [ ]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

#  Listeler gibi tuple'lar da indekslemeyi destekler

0
2
4

IndexError: ignored

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [ ]:
# Tuple'larƒ±n listelerden en √∂nemli farklarƒ±ndan biri de 'tuple' nesnesinin √∂ƒüe
# atamasƒ±nƒ± desteklememesidir. Evet, √ß√ºnk√º tuple deƒüi≈ümez.

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

TypeError: ignored

In [ ]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: ignored

In [ ]:
# Benefits of Immutability
# Tuple'lar, listelerden daha hƒ±zlƒ± ve daha g√º√ßl√º bellek i√ßidir. B√ºy√ºk miktarda
# veriyle uƒüra≈ümanƒ±z gerektiƒüinde bunu bir d√º≈ü√ºnmelisiniz. Verilerinizi
# deƒüi≈ütirmek istemiyorsanƒ±z, tuple'larƒ± se√ßmeniz gerekebilir.

# Deƒüi≈ümezliƒüi nedeniyle, bir tuple i√ßinde saklanan veriler yanlƒ±≈ülƒ±kla
# deƒüi≈ütirilemez.

# Tuple dictionary key olarak kullanƒ±labilirken, 'TypeError' anahtar olarak
# listelere neden olabilir. Ve bu, veri i≈ülemede tuple'larƒ±n kullanƒ±≈ülƒ±lƒ±ƒüƒ±dƒ±r.

In [ ]:
sayi_listesi =  list(range(11))
sayi_listesi.remove(0)
sayi_listesi.sort(reverse = True)
print(sayi_listesi)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print([grocer[1][1][1], grocer[1][1][3], grocer[1][1][5]])

['eggplant', 'spinach', 'leek']

In [ ]:
# text = "My two favorite flowers are tulip and rose, two favorite colors are blue and green."

flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]

text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]
sentence = "I am 40 years old. {}I have two children. {}Data Science is my IT domain.".format(escapes[0], escapes[2][1])
print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [ ]:
# Dictionaries
# Ger√ßek bir s√∂zl√ºk d√º≈ü√ºn√ºn. Kelimeleri ve anlamlarƒ±nƒ± i√ßerir. Python'da
# kelimeleri anahtar, kelimelerin anlamlarƒ±nƒ± deƒüer olarak kabul edebilirsiniz.
# A dictionary in Python is a collection of key-value pairs which are called
# items. The dictionary is surrounded by curly braces {}.

In [ ]:
# Creating a Tuple

empty_dict_1 = {}

empty_dict_2 = dict()

In [ ]:
empty_dict_1 = {}

print(type(empty_dict_1))

<class 'dict'>

In [ ]:
my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [ ]:
# Note: Note that keys and values can be of different types.

mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [ ]:
# You have learned that you can add a new item by assigning value to a key that
# is not in the dictionary. Likewise, you can add new items using the .update()
# method

dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [ ]:
dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal']

print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [ ]:
# in and not in operator
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages['Clark'])

32

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['age'])

16

In [ ]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}

print(customers['insurance'][5]['age'])

22

In [ ]:
empty_set = set()

print(type(empty_set))

<class 'set'>

In [ ]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)

{'darkblue', 'yellow', 'purple', 'red', 'orange'}
{'darkblue', 'yellow', 'purple', 'red', 'orange'}

In [ ]:
s = set('unselfishness')

print(s)

# G√∂r√ºld√ºƒü√º gibi string t√ºr√ºndeki verilerin harfleri sette sadece bir kez
# yazƒ±lƒ±r. Bu kapsamda set kullanmak tekrarlardan ka√ßƒ±nmanƒ±za yardƒ±mcƒ± olabilir.
# Bir listeyi bir k√ºmeye d√∂n√º≈üt√ºrelim ve elemanlarƒ±nƒ±n tekrarlarƒ±na bakalƒ±m:

{'i', 'l', 'f', 'h', 'n', 's', 'u', 'e'}

In [ ]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'orchid', 'rose', 'violet', 'carnation'}
['orchid', 'rose', 'violet', 'carnation']

In [ ]:
a = set('abracadabra')

print(a)

{'b', 'a', 'r', 'd', 'c'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

{'b', 'r', 'd'}
{'b', 'r', 'd'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

{'z', 'b', 'l', 'm', 'a', 'r', 'd', 'c'}
{'z', 'b', 'l', 'm', 'a', 'r', 'd', 'c'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

{'a', 'c'}
{'a', 'c'}

In [ ]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

{'b', 'a', 'r', 'd'}

In [ ]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

In [ ]:
print(len(set('listen to the voice of enlisted')))
print(set('listen to the voice of enlisted'))

13
{'i', 'd', 't', 'l', 'f', 'h', 'n', 'v', 's', ' ', 'o', 'e', 'c'}

In [ ]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [ ]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1, 20)
print(numbers_10)

In [ ]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach